/*****************************************************************/
.bar {
	background-color: #f2f2f2;
	height: 50px;
	position: relative;
}

.bar .btn-link {
	line-height: 50px;
}

.bar .btn .icon {
	top: 5px;
}


/** hack jquerymobile ****************************************************************************/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
	text-shadow:none;
}


/** hack bootstrap*******************************************************************/
.form-horizontal .control-group {
	width: 96%;
	margin-left: 2%;
	clear: both;
	padding-bottom: 20px;
}

.form-horizontal .control-label {
	float: left;
	width: 30%;
	padding-top: 5px;
	text-align: right;
}

.form-horizontal .controls {
	margin-left: 30%;
	width: 65%;
}

/************************************************************************************/

.zw_page_common_data_ul
{
	
}
.zw_page_common_data_ul li
{
	float:left;
}



/************************************************************************************/
body, div, a, span {
	font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Light",
		"Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI",
		"Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial;
}

.yb_body {
	width: 96%;
	margin-left: 2%;
}

.yb_layout_box {
	height: 100%;
	overflow: auto;
	padding-bottom: 50px;
}

.yb_show_tag {
	float: left;
	height: 100%;
	font-size: 1.2em;
	padding: 1em;
	margin-right: 1em;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
}

.yb_span_width_5em {
	display: inline-block;
	min-width: 5em;
}

.yb_color_red {
	color: red;
}

.w_regex_need {
	color: red;
	padding-right: 5px;
}

/**表格相关**********************************************************************************/
.yb_list_box {
	background-color: #fff;
}

.yb_list_box .ui-shadow {
	box-shadow: none;
	border-radius: 0;
}

.yb_list_box .ui-listview>.ui-li-has-icon>img:first-child, .yb_list_box  .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child
	{
	max-width: 1.4em;
	max-height: 1.4em;
	top: .6em;
}

.yb_list_box .ui-listview>.ui-li-has-icon>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-icon
	{
	padding-left: 3em;
}

.yb_list_box .ui-btn, .yb_list_box .ui-btn:visited, .yb_list_box .ui-btn:hover,
	.yb_list_box .ui-btn:active {
	background-color: #fff;
	border-color: #ededed;
	color: #000;
	text-shadow: none;
	font-weight: normal;
}

.yb_list_table_title {
	width: 5em;
}

.yb_list_table_content {
	text-align: right;
	float: right;
	color: #c1c1c1;
}

.yb_list_dialog, .ui-popup .yb_list_dialog
{
	
	overflow-y:scroll;
}

.yb_list_dialog .ui-listview>.ui-li-static {
	padding: .3em 1em;
}



/**流消息格式   yb_grid**********************************************************************************/
.yb_grid_box {
	
}

.yb_grid_item {
	margin-bottom: 2em;
	background-color: #fff;
	border: solid 1px #ddd;
}

.yb_grid_info {
	padding: 1em;
	border-bottom: solid 1px #ddd;
}

.yb_grid_item .ui-btn {
	padding: 0px;
	background-color: #fff;
	border: none;
}

.yb_grid_item p {
	padding-top: 1em;
	color: #999;
	font-weight: normal;
}

/*****************************************************************/
.zmcss_set_box {
	background-color: #fff;
	border-bottom: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
}

.zmcss_set_item {
	clear: both;
	line-height: 3em;
	min-height: 3em;
	
}

.zmcss_set_border
{
	border-top: solid 1px #ebebeb;
}


.zmcss_set_left {
	float: left;
	max-width: 30%;
	text-indent: .5em;
	color:#353535;
	font-weight:bold;
}

.zmcss_set_right {
	float: right;
	text-align: right;
	color: #aaaaaa;
	text-indent:.5em;
	padding-right:1em;
}
.zmcss_set_right span
{
	color: #aaaaaa;
}
.zmcss_set_select
{
	line-height:0em;
}
