.yh_my_img
{
	
}

.yh_my_img img
{
	width:100%;
}



.yh_frame_daily_box
{
	border-top:solid 1px  #c4e3d0; 
}

.yh_frame_daily_clear
{
	clear:both;
}


.yh_frame_daily_item
{
	clear:both;
	background-color:#fff;
	border-bottom:solid 1px  #c4e3d0; 
}
.yh_frame_daily_left
{
	float:left;
	margin-left:1em;
}

.yh_frame_daily_right
{
	
	margin-left:6em;
	
}




.yh_frame_daily_date
{
	
	
width: 4em; 
height: 4em; 
background-color: #35b667; 
-webkit-border-radius: 2em; 
line-height:4em;
text-align:center;
color:#fff;

	
}

.yh_frame_daily_over .yh_frame_daily_date
{
	background-color: #ccc; 
}

