/*****************************************************************/
.bar {
	background-color: #f2f2f2;
	height: 50px;
	position: relative;
}

.bar .btn-link {
	line-height: 50px;
}

.bar .btn .icon {
	top: 5px;
}


/** hack jquerymobile ****************************************************************************/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
	text-shadow:none;
}


/** hack bootstrap*******************************************************************/
.form-horizontal .control-group {
	width: 96%;
	margin-left: 2%;
	clear: both;
	padding-bottom: 20px;
}

.form-horizontal .control-label {
	float: left;
	width: 30%;
	padding-top: 5px;
	text-align: right;
}

.form-horizontal .controls {
	margin-left: 30%;
	width: 65%;
}

/************************************************************************************/

.zw_page_common_data_ul
{
	
}
.zw_page_common_data_ul li
{
	float:left;
}



/************************************************************************************/
body, div, a, span {
	font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Light",
		"Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI",
		"Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial;
}

.yb_body {
	width: 96%;
	margin-left: 2%;
}

.yb_layout_box {
	height: 100%;
	overflow: auto;
	padding-bottom: 50px;
}

.yb_show_tag {
	float: left;
	height: 100%;
	font-size: 1.2em;
	padding: 1em;
	margin-right: 1em;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
}

.yb_span_width_5em {
	display: inline-block;
	min-width: 5em;
}

.yb_color_red {
	color: red;
}

.w_regex_need {
	color: red;
	padding-right: 5px;
}


/*提示消息*/
.yb_message_box
{
	
	    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
   
}

.yb_color_focus
{
	color: #3c763d;
}
.yb_message_desc
{
	color: #3c763d;
	font-size:80%;
}


/**表格相关**********************************************************************************/
.yb_list_box {
	background-color: #fff;
}

.yb_list_box .ui-shadow {
	box-shadow: none;
	border-radius: 0;
}

.yb_list_box .ui-listview>.ui-li-has-icon>img:first-child, .yb_list_box  .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child
	{
	max-width: 1.4em;
	max-height: 1.4em;
	top: .6em;
}

.yb_list_box .ui-listview>.ui-li-has-icon>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-icon
	{
	padding-left: 3em;
}

.yb_list_box .ui-btn, .yb_list_box .ui-btn:visited, .yb_list_box .ui-btn:hover,
	.yb_list_box .ui-btn:active {
	background-color: #fff;
	border-color: #ededed;
	color: #000;
	text-shadow: none;
	font-weight: normal;
}

.yb_list_table_title {
	width: 5em;
}

.yb_list_table_content {
	text-align: right;
	float: right;
	color: #c1c1c1;
}

.yb_list_dialog, .ui-popup .yb_list_dialog
{
	
	overflow-y:scroll;
}

.yb_list_dialog .ui-listview>.ui-li-static {
	padding: .3em 1em;
}



/**流消息格式   yb_grid**********************************************************************************/
.yb_grid_box {
	
}

.yb_grid_item {
	margin-bottom: 2em;
	background-color: #fff;
	border: solid 1px #ddd;
}

.yb_grid_info {
	padding: 1em;
	border-bottom: solid 1px #ddd;
}

.yb_grid_item .ui-btn {
	padding: 0px;
	background-color: #fff;
	border: none;
}

.yb_grid_item p {
	padding-top: 1em;
	color: #999;
	font-weight: normal;
}

/*****************************************************************/
.zmcss_set_box {
	background-color: #fff;
	border-bottom: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
}

.zmcss_set_item {
	clear: both;
	line-height: 3em;
	min-height: 3em;
	
}

.zmcss_set_border
{
	border-top: solid 1px #ebebeb;
}


.zmcss_set_left {
	float: left;
	max-width: 30%;
	text-indent: .5em;
	color:#353535;
	font-weight:bold;
}

.zmcss_set_right {
	float: right;
	text-align: right;
	color: #aaaaaa;
	text-indent:.5em;
	padding-right:1em;
}
.zmcss_set_right span
{
	color: #aaaaaa;
}
.zmcss_set_select
{
	line-height:0em;
}






.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}



.zapweb_webfile
{
	
	float:left;
}

.zapweb_webfile .thumbnail {
    width: 110px;
    height: 110px;
}
.zapweb_webfile .thumbnail img {
    width: 100%;
}
.zapweb_webfile_list {
    width: 100%;
    overflow: hidden;
}
.zapweb_webfile  .file-item {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 4px;
}
.zapweb_webfile  .file-item .error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}
.zapweb_webfile .file-item .info {
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    font-size: 12px;
    z-index: 10;
}
.zapweb_webfile .upload-state-done:after {
    content:"\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    position: absolute;
    bottom: 0;
    right: 4px;
    color: #4cae4c;
    z-index: 99;
}
.zapweb_webfile  .progress {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 3px;
    left: 4px;
    height: 4px;
    overflow: hidden;
    z-index: 15;
    margin:0;
    padding: 0;
    border-radius: 0;
    background: transparent;
}
.zapweb_webfile  .progress span {
    display: block;
    overflow: hidden;
    width: 0;
    height: 100%;
    
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
}





