.ui-select .ui-btn, .ui-select .ui-btn:hover, .ui-select .ui-btn:active
	{
	background-color: #fff;
	color: #999;
	border-color: #ccc;
}

.ui-tabs {
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

.wxcss_main_width {
	width: 96%;
	margin-left: 2%;
}

.wxcss_height_1 {
	height: 1rem;
}

.wxcss_height_2 {
	height: 2rem;
}

.wxcss_base_none {
	display: none;
}

.wxcss_color_1
{
	color:#3cc51f;
}
.wxcss_color_2
{
	color:#de7c23;
}

.wxcss_base_note {
	color: #999999;
}
.wxcss_base_title
{
	background-color: #19ac40;
  border-color: #19ac40;
  color: #fff;
  text-shadow: 0 0px 0 #eeeeee;
  font-weight: bold;
	
	  font-size: 1em;
  min-height: 1.1em;
  text-align: center;
  
  padding: .7em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

.wxcss_base_message {
	margin:15px;
	
	padding:10px;
	font-weight:bold;
	border:solid 1px ;
	    color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
	
}


.wxcss_base_circle {
	background-color: #cae5c8;
	border-radius: 50%;
	padding: 0.4rem;
	line-height: 0px;
	font-size: 0px;
	position: absolute;
	left:0rem;
	top:0.3rem;
}

.wxcss_base_circle_small
{
	  background-color: #64a561;
  border-radius: 50%;
  padding: 0.3rem;
  line-height: 0px;
  font-size: 0px;
  position: absolute;
  left: 0.15rem;
  top: 0.15rem;
}


.wxcss_show_item {
	line-height: 2rem;
}

.wxcss_show_title {
	color: #000;
	font-weight: bold;
	
}

.wxcss_show_split {
	border-bottom: solid 1px #d9d9d9;
	height: 1rem;
	margin-bottom: 1rem;
}

.wxcss_data_elec_report {
	width: 100%;
}

.wxcss_data_elec_date {
	color: #1b8e28;
	text-indent: 1.5rem;
  	position: relative;
  	height:2rem;
  	ine-height: 2rem;
}

.wxcss_data_elec_report img {
	width: 100%;
}
.wxcss_form_item 
{
	
	width:100%;
	
}


.wxcss_form_label {
	color: #999999;
	width:90px;
	float:left;
	line-height:40px;
}

.wxcss_form_info {
	
	
	margin-left:90px;
}




.wxcss_form_split{
	clear:both;
	
}

.wxcss_page_title
{
	  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.wxcss_list_ul
{
	
}
.wxcss_list_ul li
{
	list-style-type:none;
	
}
.wxcss_member_pic_box
{
	
	
	
}
.wxcss_member_pic_item
{
	margin:20px;
	border:solid 1px #ccc;
	
	
}

.wxcss_member_pic_title
{
	background-color:#ebebeb;
	min-height:40px;
	line-height:40px;
	text-align:center;
	
}
.wxcss_member_pic_info
{
	padding:10px;
	background-color:#fff;
}
.wxcss_member_pic_item img
{
	width:100%;
}







.wxcss_member_notice_item
{
	background-color:#fff;
	margin:1rem;
	border:solid 1px #ccc;
	padding:1rem;
	border-radius:5px;  
}
.wxcss_member_notice_title
{
	line-height:30px;
	font-weight:bold;
}

.wxcss_member_notice_info img
{
	max-width:100%;
}

.wxcss_member_notice_time
{
	color:#999;
	height:40px;
}



a.wxcss_a
{
	color:#586C94;
	font-size:14px;
}



